/*///////////////
// APP LAYOUT */
.page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.containerCenter {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:#fff;
  padding:2rem;
  background-color: #213f77;
}
